* {
  margin: 0;
  padding: 0;
}
.titleContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.searchbar {
  height: 40px;
  width: 468px;
}
.searchbar::placeholder {
  font-size: 16px;
  padding-left: 10px;
}
#searchButton {
  width: 42px;
  height: 43px;
}

#voiceButton {
  width: 42px;
  height: 43px;
}
#emojiContainer {
  display: grid;
  grid-template-columns: repeat(7, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 43px;
  margin-left: 43px;
  /* align-items: center; */
}
.sinleEmojiContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 75px;
  width: 150px;
  align-items: center;
  border: 1px solid black;
}
.emoji {
  font-size: 30px;
}
.emojiTags {
  display: none;
}
