* {
  margin: 0;
  padding: 0;
}
.titleContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.searchbar {
  height: 40px;
  width: 468px;
}
.searchbar::placeholder {
  font-size: 16px;
  padding-left: 10px;
}
#searchButton {
  width: 42px;
  height: 43px;
}

#voiceButton {
  width: 42px;
  height: 43px;
}
#emojiContainer {
  display: grid;
  grid-template-columns: repeat(7, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 43px;
  margin-left: 43px;
  /* align-items: center; */
}

 .commonClass{
  height: 75px;
  width: 75px;
  text-align: center;
  cursor: pointer;
  margin: 10px;
}
.emoji {
  font-size: 30px;
}
.emojiTags {
  display: none;
}
.emojiDescription{
  line-break: anywhere;
}

@media screen and (min-width: 0px){
  #emojiContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
  } 
}
@media screen and (min-width: 768px){
  #emojiContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: auto;
  } 
}
@media screen and (min-width: 1024px){
  #emojiContainer{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  } 
}
@media screen and (min-width: 1440px){
  #emojiContainer{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
  } 
}
.toast {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateY(-30px);
  transition: 5s;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.9;
  z-index: 1000;
}




 

